
// Preview box (e.g. used by header and footer documentation) -------- //

.preview {
  @include clearfix;
  // margin-top: 2em;
  margin-bottom: 2em;
  background-color: $color-white;
  padding: $site-margins;
  border: 1px solid #eeeeee; // scss-lint:disable ColorVariable

  .background-dark {
    @include padding(null 1em);
    display: inline-block;
  }

  > *:first-child {
    margin-top: 0;
  }
}

.preview-no_border {
  @include margin(0 null 2em);
  border: 0;
  padding: 0;
}

// Colors -------------- //

.color-short {
  height: 7rem;
  margin-bottom: 1rem;
}

.color-name {
  font-size: 1.2rem;

  @include media($medium-screen) {
    margin: 0;
  }

  @include margin(0 null 1em);
}

.color-row {
  margin-bottom: 3rem;

  .color-big {
    @include media($medium-screen) {
      float: left;
      padding-right: 4%;
      width: 32%;
    }
  }

  .color-small {
    float: left;
    margin-right: 0;
    width: 50%;

    @include media($medium-screen) {
      width: 17%;
    }
  }
}

.primary-color-section {
  margin-bottom: 0;

  @include media($medium-screen) {
    margin-bottom: 8rem;
  }

  .color-square {
    @include span-columns(6);
    margin-bottom: 7rem;
    padding-bottom: 50%;
    position: relative;

    @include media($medium-screen) {
      @include span-columns(3);
      margin-bottom: 0;
      padding-bottom: 19%;
    }
  }

  .mobile-end-row {
    margin-right: 0;

    @include media($medium-screen) {
      margin-right: 2.35765%;
    }
  }

  .color-name {
    margin: 0;
  }
}

.color-inner-content {
  position: absolute;
  top: 100%;
}

.color-hex {
  @include margin(1rem null 0);
  font-weight: $font-weight-bold;
}

.color-text {
  @include padding(1rem 2rem);
  font-weight: $font-weight-bold;
  margin-bottom: .4rem;
}

.color-outline {
  .color-text {
    box-shadow: inset 0 0 0 1px $color-gray-medium-dark;
  }
}

// New colors
// Base colors
.color-white {
  background-color: $color-white;
}

.color-base {
  background-color: $color-black;
}

// Gray-scales
.color-gray-darkest {

}
.color-gray-dark {
  background-color: $color-gray-medium-dark;
}
.color-gray {
  background-color: $color-gray-medium-dark;
}
.color-gray-light {
  background-color: $color-gray-medium-light;
}
.color-gray-lighter {
  background-color: $color-gray-medium-light;
}
.color-gray-lightest {
  background-color: $color-gray-medium-light;
}
.color-gray-brightest {
  background-color: $color-gray-medium-dark;
}

// Text color
.color-text {
  background-color: $color-text;
}
.color-text-secondary {
  background-color: $color-text-secondary;
}
.color-text-bright {
  background-color: $color-text-bright;
}

// Links color
.color-link {
  background-color: $color-link;
}
.color-link-hover {
  background-color: $color-link-hover;
}
.color-focus {
  background-color: $color-focus;
}
.color-visited {
  background-color: $color-visited;
}

// Neutral color
.color-neutral {
  background-color: $color-neutral;
}
.color-neutral-darker {
  background-color: $color-neutral-darker;
}
.color-neutral-darkest {
  background-color: $color-neutral-darkest;
}
.color-neutral {
  background-color: $color-neutral-lightest;
}

// Functional theme colors
.color-primary {
  background-color: $color-primary;
}
.color-primary-darker {
  background-color: $color-primary-darker;
}
.color-primary-darkest {
  background-color: $color-primary-darkest;
}
.color-primary-lightest {
  background-color: $color-primary-lightest;
}
.color-background {
  background-color: $color-background;
}

.color-text-positive {
  background-color: $color-text-positive;
}
.color-text-negative {
  background-color: $color-text-negative;
}

// Colors used for alert boxes
.color-error {
  background-color: $color-error;
}
.color-success {
  background-color: $color-success;
}
.color-warning {
  background-color: $color-warning;
}
.color-info {
  background-color: $color-info;
}

.color-error-background {
  background-color: $color-error-light;
}
.color-success-background {
  background-color: $color-success-light;
}
.color-warning-background {
  background-color: $color-warning-light;
}
.color-info-background {
  background-color: $color-info-light;
}

// Header, fotter & navigation colors
.color-header-background {
  background-color: $color-header-background;
}
.color-footer-background {
  background-color: $color-footer-background;
}
.color-topmenu-background {
  background-color: $color-topmenu-background;
}
.color-page {
  background-color: $color-page;
}

// Colors for borders
.color-border {
  background-color: $color-border;
}
.color-border-light {
  background-color: $color-border-light;
}
.color-border-bright {
  background-color: $color-border-bright;
}
.color-border-focus {
  background-color: $color-border-focus;
}

// Special colors
.color-alt-background {
  background-color: $color-alt-background;
}
.color-alt-background-hover {
  background-color: $color-alt-background-hover;
}
.color-alt-table-header {
  background-color: $color-alt-table-header;
}
.color-required {
  background-color: $color-required;
}
.color-shadow {
  background-color: $color-shadow;
}
.color-transparent {
  background-color: $color-transparent;
}

.color-container {
  height: 140px;
  border: solid 1px #e1e1e1;

  //Colors
  &.color-white {
    background-color: $color-white;
  }
  &.color-black {
    background-color: $color-black;
  }
  &.color-gray-dark {
    background-color: $color-gray-dark;
  }
  &.color-gray-medium-dark {
    background-color: $color-gray-medium-dark;
  }
  &.color-gray-medium-light {
    background-color: $color-gray-medium-light;
  }
  &.color-gray-light {
    background-color: $color-gray-light;
  }
  &.color-gray-pale {
    background-color: $color-gray-pale;
  }

  &.color-succes {
    background-color: $color-success;
  }
  &.color-succes-light {
    background-color: $color-success-light;
  }
  &.color-warning {
    background-color: $color-warning;
  }
  &.color-warning-light {
    background-color: $color-warning-light;
  }
  &.color-error {
    background-color: $color-error;
  }
  &.color-active {
    background-color: $color-active;
  }
  &.color-error-light {
    background-color: $color-error-light;
  }
  &.color-info {
    background-color: $color-info;
  }
  &.color-info-light {
    background-color: $color-info-light;
  }
  &.borger-primary {
    background-color: $borger-primary;
  }
  &.borger-medium {
    background-color: $borger-medium;
  }
  &.borger-dark {
    background-color: $borger-dark;
  }
  &.virk-primary {
    background-color: $virk-primary;
  }
  &.virk-medium {
    background-color: $virk-medium;
  }
  &.virk-dark {
    background-color: $virk-dark;
  }
  &.color-positive {
    background-color: $color-positive;
  }
  &.color-negative {
    background-color: $color-negative;
  }
  &.color-data-green {
    background-color: $color-data-green;
  }
  &.color-data-moss {
    background-color: $color-data-moss;
  }
  &.color-data-teal {
    background-color: $color-data-teal;
  }
  &.color-data-turqoice {
    background-color: $color-data-turqoice;
  }
  &.color-data-violet {
    background-color: $color-data-violet;
  }
  &.color-data-purple {
    background-color: $color-data-purple;
  }
  &.color-data-yellow  {
    background-color: $color-data-yellow;
  }
  &.color-data-brown {
    background-color: $color-data-brown;
  }
  &.color-data-khaki {
    background-color: $color-data-khaki;
  }
  &.color-data-orange {
    background-color: $color-data-orange ;
  }
  &.color-data-magenta {
    background-color: $color-data-magenta;
  }
  &.color-data-cyklamen {
    background-color: $color-data-cyklamen;
  }
}

.color-text-container {
  margin-bottom: $spacing-medium;
  margin-top: $spacing-small;
  p {
    margin: 0px;
  }
}
@media screen and (min-width:768px) {
  .color-col {

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
    }
  }
}

//------- Theme based show/hide

.is-neutral{ display:block }
.is-virk { display:none }
.is-borger{ display:none }


//------- Component overview page boxes. 

.componentbox-container {
  height: 225px;

}

.componentbox-text-container {
  margin-bottom: $spacing-medium;
  margin-top: $spacing-small;
  p {
    margin: 0px;
  }
}
@media screen and (min-width:768px) {
  .componentbox-container {
    height: 180px;
  }
  .componentbox-col {
    padding-left: 7.5px;
    padding-right: 7.5px;

    &:first-child {
      padding-left: 0px;
      padding-right: 15px;
    }

    &:last-child {
      padding-right: 0px;
      padding-left: 15px;
    }

    &:only-child {
      padding-left: 0px;
      padding-right: 15px;
    }
  }
}


.componentbox-row {
  margin-bottom: 3rem;

  .componentbox-big {
    @include media($medium-screen) {
      float: left;
      padding-right: 4%;
      width: 32%;
    }
  }

  .componentbox-small {
    float: left;
    margin-right: 0;
    width: 50%;

    @include media($medium-screen) {
      width: 17%;
    }
  }
}

//------------ Code 
code,
pre {
  background-color: $color-gray-pale;
  font-family: $font-monospace;
  font-size: 1.3rem;
}

pre {
  padding: 1.6rem;

  code {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

code {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.code-highlight {
  background-color: $color-gray-pale;
  padding: 16px;
  pre, code {
    max-width: $lead-max-width;
  }
}

// Code snippet boxes
.code-sample {
  pre,
  code {
    background: none;
    font-size: 1.2rem;
    margin-top: 0;
    padding: 0;
  }
}


//----------------  Page styles
.page-ui-components {

  .font-lead {
    &:first-of-type {
      margin-top: 3.2rem;
    }
  }
}
.page-accordion-html{
  padding-top: 4px;
}
.page-buttons-html{
  padding-left: 20px;
}
.page-date-input-html{
  & .container{
    height: 500px; //so that datepicker is visible
  } 
}
.page-modal-html{
  padding-top: 150px;
  padding-bottom: 200px;
  [data-micromodal-trigger]{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
// Example images on headers and page templates pages -------------- //
.page-headers,
.page-page-templates {
  .preview {
    img {
      box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    }
  }
}


.layout-demo {
  margin-bottom: 8.6rem;

  @include media($medium-screen) {
    margin-bottom: 5.9rem;
  }
}

// Demo fixed footer
.demo-footer {
  background-color: $color-gray-medium-dark;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.5);
  bottom: 0;
  position: fixed;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  .button {
    background-image: url('#{$site-image-path}/angle-arrow-left-inverse.png');
    background-image: url('#{$site-image-path}/angle-arrow-left-inverse.svg');
    background-repeat: no-repeat;
    background-position: left 2rem center;
    background-size: 1rem;
    padding-left: 3.3rem;

    @include media($medium-screen) {
      @include margin(0 1.5rem 0 null);
    }
  }
}

.demo-footer-title {
  @include margin(0 null 0.7rem null);
  color: $color-white;
  display: inline-block;

  @include media($medium-screen) {
    @include margin(1em null);
  }
}

.demo-footer-content {
  @include margin(null $site-margins-mobile);

  @include media($medium-screen) {
    @include margin(null $site-margins);
  }
}


iframe {
  margin-bottom: 3rem;
}


/////////////////// component preview //////////////////////

.component-preview {
  border: $outer-border;
  margin-bottom: $spacing-small;
  position: relative;
  padding-left: $spacing-small;
  padding-right: $spacing-small;
  padding-bottom: 24px;
}

.preview-buttons {
  position: absolute;
  top: $spacing-small;
  right: 0;
}

.preview-iframe {
  border: none;
  display: block;
  margin: 4.2rem auto $spacing-small auto;
  max-width: 100%;
}

.component-preview-item {
  float: left;
  height: $spacing-medium;
}

.component-preview-button {
  background: $color-gray-medium-light;
  border: 1px solid $color-gray-medium-dark;
  outline: none;
  height: $spacing-medium;
  width: $spacing-medium;
  padding: 1px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 0;
  display: inline-block;
  text-align: center;
  min-height: inherit;

  .icon-color{
    fill: $color-gray-medium-dark;
  }

  &:hover {
    background-color: $color-gray-medium-dark;
    .icon-color{
      fill: $color-white;
    }
  }

  &.is-active {
    background-color: $color-gray-medium-dark;

    svg * {
      fill: $color-white;
    }
  }
}

.components__description-header {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 400;
}

.components__edit {
  opacity: .2;
  text-decoration: none !important;

  &:hover,
  &:focus {
    opacity: .8;

    &:after {
      content: 'edit text';
    }
  }

  img {
    height: 20px;
    vertical-align: middle;
    margin-bottom: 9px;
  }
}

.grid-example-containers {
  margin-bottom: 1em;
}
.grid-example-containers>.container{
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  width: 25rem !important;
  margin-right: auto;
  margin-left: auto;
  background-color: #f1f1f1;
  border: 1px solid #212121;
  border-radius: .25rem;
}
.grid-example-containers>.container-fluid{
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  background-color: #f1f1f1;
  border: 1px solid #212121;
  border-radius: .25rem;
}