---
---
//Above dashes are used by Jekyll in main scss files (not needed in partials). DO NOT DELETE.


// sass-lint:disable-all
// Imports
@import 'variables';
@import 'vendor/dkwds/dkwds-borgerdk';
@import 'styleguide-base';

.is-neutral{ display:none }
.is-virk { display:none }
.is-borger{ display:block }