---
---
body {
      opacity: 1 !important;
}
// sass-lint:disable-all
// Imports
@import 'variables';
@import 'vendor/uswds/dkwds-virkdk';
@import 'styleguide-base';


$virk-lightgrey:        rgb(207,203,199);
$virk-darkgrey:         rgb(133,126,114);
$virk-grey:             rgb(220, 216, 212);
$virk-darkergrey:       #3a302a;
$virk-blue:             #027091;
$virk-orange:           #f08b1e;
$virk-links:            #b36000;

.site-header {
      background-color: $virk-lightgrey;
      color: $color-base;
}
.site-header .usa-button-list .usa-button{
      background-color: $virk-orange;
}
.site-header .usa-button-list .usa-button.usa-button-outline-inverse{
      box-shadow: inset 0 0 0 2px $virk-darkergrey;
      background: transparent;
      color: $virk-darkergrey;
}
.site-logo a {
      color: $color-base;
}


.usa-hero{
     background-image: url(../img/home/wds-home-new-2x-virk.png); 
}
.usa-section-dark {
      background-color: #fff;
      color: $color-base;
      p {
            color: $color-base;
      }
}
.usa-hero-callout-alt {
      color: $color-base;
}


.usa-section{
      .usa-button {
            background-color: $virk-orange;
      }
}


.usa-footer {
      .usa-button {
            background-color: $virk-orange;
      }
}
.usa-footer-secondary_section {
      background-color: $virk-grey;
}