---
---
body {
      opacity: 1 !important;
}
// sass-lint:disable-all
// Imports
@import 'variables';
@import 'vendor/dkwds/dkwds-virkdk';
@import 'styleguide-base';


$virk-lightgrey:        rgb(207,203,199);
$virk-darkgrey:         rgb(133,126,114);
$virk-grey:             rgb(220, 216, 212);
$virk-darkergrey:       #3a302a;
$virk-blue:             #027091;
$virk-orange:           #f08b1e;
$virk-links:            #b36000;

.site-header {
      background-color: $virk-lightgrey;
      color: $color-base;
}
.site-header .button-list .button{
      background-color: $virk-orange;
}
.site-header .button-list .button.button-outline-inverse{
      box-shadow: inset 0 0 0 2px $virk-darkergrey;
      background: transparent;
      color: $virk-darkergrey;
}
.site-logo a {
      color: $color-base;
}


.hero{
     background-image: url(../img/home/wds-home-new-2x-virk.png); 
}
.section-dark {
      background-color: #fff;
      color: $color-base;
      p {
            color: $color-base;
      }
}
.hero-callout-alt {
      color: $color-base;
}


.section{
      .button {
            background-color: $virk-orange;
      }
}


.footer {
      .button {
            background-color: $virk-orange;
      }
}
.footer-secondary_section {
      background-color: $virk-grey;
}