---
permalink: /designandcode/headers/
layout: styleguide
title: Headers
category: UI components
subcategory: Design og kode
lead: En header har til formål, at være identitetsgivende for siden, samt at give brugeren mulighed for let, at kunne navigere til essentielt indhold. 
subnav:
- text: Standard header
  href: '#header-simple'
- text: Standard header med topmenu
  href: '#header-medium'
- text: Kompleks header
  href: '#header-full'
---


<h2 id="header-simple">Standard header</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/headers/simple/">
    <img src="{{ site.baseurl }}/assets/img/headers/header-simple.PNG" alt="Standard header">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/headers/simple/">Demo standard header</a>
</div>
{% include code/accordion.html component="header-simple" %}


<h2 id="header-medium">Standard header med topmenu</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/headers/medium/">
    <img src="{{ site.baseurl }}/assets/img/headers/header-medium.PNG" alt="Standard header med topmenu">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/headers/medium/">Demo standard header med topmenu</a>
</div>
{% include code/accordion.html component="header-medium" %}


<h2  id="header-full">Kompleks header</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/headers/full/">
    <img src="{{ site.baseurl }}/assets/img/headers/header-full.PNG" alt="Kompleks header">
  </a>
    <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/headers/full/">Demo kompleks header</a>
</div>
{% include code/accordion.html component="header-full" %}
