
<div class="anno-container">			
{% for image in include.annotations %}
	{% if include.id == image.id %}
		<img src="{{ site.baseurl }}{{ image.path }}" style="{{ image.image-style }}">					
		<ul class="anno-text">
			{% for point in image.points %}
				<li class="marker" value="{{point.number}}" style="z-index: auto; {{ point.style }} ">
					<div class="desc" style="display: none; z-index: -1;">
						{{ point.html }}
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endfor %}
</div>
