<footer class="demo-footer">
  <div class="demo-footer-content d-flex align-items-center">
    <a class="button" href="{{ site.baseurl }}/examples">Tilbage <span class="d-none d-sm-inline-block">til dokumentationen</span></a>
    <p class="demo-footer-title d-none d-sm-block">Eksempelvisning</p>
    <select class="form-select style-switcher mt-0 ml-4" name="Style switcher" aria-label="Skift mellem temaer">
      <option value="">- Vælg tema -</option>
      <option value="styleguide">Tema: Neutralt</option>
      <option value="virkdk">Tema: Virk.dk</option>
      <option value="borgerdk">Tema: Borger.dk</option>
    </select>
  </div>
</footer>
