<ul class="button-list unstyled-list">
  <li>
    <a class="button" href="{{ site.baseurl }}/getting-started/download/">
      Download kode og designfiler
    </a>
  </li>
  <li>
    <a class="button button-outline-inverse" href="#">
      Se på GitHub
    </a>
  </li>
  <li>
    <select class="style-switcher" name="Style switcher">
      <option value="styleguide">Basis theme</option>
      <option value="virkdk">Virk.dk theme</option>
      <option value="borgerdk">Borger.dk theme</option>
    </select>
  </li>
</ul>
