<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <div class="align-left">
            <ul class="unstyled-list">
              <li><p class="h5 semibold" title="Ansvarlig myndighed" aria-label="Ansvarlig myndighed">Ansvarlig myndighed</p></li>
            </ul>
            <ul class="unstyled-list">
              <li><p>Erhvervsstyrelsen og Digitaliseringsstyrelsen</p></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <div class="align-left">
           
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <div class="align-left">
           
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-col">
          <div class="align-left">
            <ul class="unstyled-list">
              <li><p class="h5 semibold"  title="Skriftlig kontakt" aria-label="Skriftlig kontakt">Bidrag til arbejdet</p></li>
            </ul>
            <ul class="unstyled-list">
              <li><p><a class="function-link" href="https://github.com/FSGpilot/frontend-styleguide">Github repository</a></p></li>
            </ul>
            <ul class="unstyled-list">
              <li><p>Opret gerne issues hvis du har spørgsmål eller finder fejl i systemt.</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>