<!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">

<!-- Mobile Specific Metas
================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title and meta description
================================================== -->
  {% include meta.html %}

  {% if site.url %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% endif %}

<!-- Favicons
================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon2-erst.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-erst.png">

  <!-- 192x192, as recommended for Android
  http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
  -->
  <!--<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/assets/img/favicons/favicon-192.png">-->

  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <!--<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/img/favicons/favicon-57.png">-->
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/img/favicons/favicon-72.png">-->
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/img/favicons/favicon-114.png">-->
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/favicons/favicon-144.png">-->

<!-- CSS
================================================== -->

<!-- Preload fonts -->
<link rel="preload" href="/frontend-styleguide/assets/fonts/IBMPlexSans/IBMPlexSans-Medium.woff" as="font" crossorigin>
<link rel="preload" href="/frontend-styleguide/assets/fonts/IBMPlexSans/IBMPlexSans-Bold.woff" as="font" crossorigin>
<link rel="preload" href="/frontend-styleguide/assets/fonts/IBMPlexSans/IBMPlexSans-Regular.woff" as="font" crossorigin>
<link rel="preload" href="/frontend-styleguide/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff" as="font" crossorigin>


<!--<link rel="stylesheet" href="{{ site.baseurl }}/css/styleguide.css">-->
<style>
  body {
    opacity: 0; //hide page until theme is downlaoded by js.
  }
</style>
<!-- Vender example stylesheets-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css"> 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">

<!-- frontend styleguide stylesheet-->
<script>
    var lnk = document.createElement('link');
    lnk.type='text/css';
    lnk.rel='stylesheet';

    window.baseurl='{{ site.baseurl }}';
    if (window.location.search.indexOf('s=virkdk') !== -1) {
      lnk.href= window.baseurl + '/css/styleguide-virkdk.css';
      window.curStyle = "virkdk";
    } else if(window.location.search.indexOf('s=borgerdk') !== -1) {
      lnk.href= window.baseurl + '/css/styleguide-borgerdk.css';
      window.curStyle = "borgerdk";
    } else {
      lnk.href= window.baseurl + '/css/styleguide.css';
    }
    document.getElementsByTagName('head')[0].appendChild(lnk);
</script>
