<a class="skipnav" href="#main-content">Skip to main content</a>


<header class="header header-extended" role="banner">
    <!--1A: Portal header -->
    <div class="portal-header">
      <div class="portal-header-inner container">
        <a href="/frontend-styleguide/" title="Home" aria-label="Home" class="logo"></a>
        <button class="button button-secondary button-menu-open js-menu-open ml-auto" aria-haspopup="menu" title="Åben mobil menu">Menu</button>

        <!-- 1B: Portal header: info + actions-->
        <div class="portal-info">
          <a href="/frontend-styleguide/getting-started/download/" class="button button-primary" role="button">
            Download kode og designfiler
          </a>
          <a href="https://github.com/FSGpilot/frontend-styleguide-components" class="button button-secondary" role="button">
            Se på GitHub
          </a>       
        </div> 
      </div>
    </div>

     <!--2A: Solutiuon header -->
    <div class="solution-header">
      <div class="solution-header-inner container">
        <div class="solution-heading">
            <a href="/frontend-styleguide/" title="Home" aria-label="Home">Frontend Styleguide</a>
        </div>
      </div>
    </div>

    <nav role="navigation" class="nav"> <!-- collapsible-->
      <button class="button button-secondary button-menu-close js-menu-close" title="Luk mobil menu"><svg class="icon-svg "><use xlink:href="#close"></use></svg>Luk</button>
      <!-- 3: Main navigation-->
      <div class="navbar navbar-primary">
        <!--3A: Main navigation-->
        
        <div class="navbar-inner container">
          <ul class="nav-primary">
            {%
              include nav/list.html
              links=site.data.nav.primary
              rel='contains'
              flat=true
            %}
          </ul>

          <!-- 3B: Main navigation - secondary menu-->
          <ul class="unstyled-list nav-actions">
            <li>
              <select class="form-select style-switcher" name="Style switcher" aria-label="Skift mellem temaer">
                <option value="">- Vælg tema -</option>
                <option value="styleguide">Tema: Neutralt</option>
                <option value="virkdk">Tema: Virk.dk</option>
                <option value="borgerdk">Tema: Borger.dk</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <!-- 3: Main navigation end-->
      
    </nav> <!-- collapsible nav end-->
</header>
<div class="overlay"></div>