<a class="skipnav" href="#main-content">Skip to main content</a>
<header class="header header-extended" role="banner">

  <!-- Solution Header -->
  <div class="navbar solution-header">
    <div class="solution-heading">
      <em class="heading-text">
        <a href="{{ site.baseurl }}/"
          title="Home"
          aria-label="Home">
          Frontend Styleguide
        </a>
      </em>
    </div>
    <button class="menu-btn">Menu</button>
  </div>

  <nav role="navigation" class="nav">
   <div class="nav-inner">
      <div class="nav-secondary">
        <ul class="unstyled-list nav-secondary-links">
          <li> 
            <a href="{{ site.baseurl }}/getting-started/download/" class="button button-primary">
              Download kode og designfiler
            </a>
          </li>
          <li> 
            <a href="https://github.com/jonasjensen77/frontend-styleguide-components" class="button button-secondary">
              Se på GitHub
            </a>
          </li>
        </ul>
      </div>

      <div class="nav-tertiary">
        <ul class="unstyled-list nav-secondary-links">
          <li> 
            <select class="style-switcher" name="Style switcher">
              <option value>- Vælg theme -</option>
              <option value="styleguide">Basis theme</option>
              <option value="virkdk">Virk.dk theme</option>
              <option value="borgerdk">Borger.dk theme</option>
            </select>
          </li>
        </ul>
      </div>

      <button class="nav-close"></button>

      <ul class="nav-primary accordion">
        {%
            include nav/list.html
            links=site.data.nav.primary
            rel='contains'
            flat=true
        %}
      </ul>

      
      
    </div> <!-- nav-inner end -->
  </nav> 
</header> 
<div class="overlay"></div>
