<form class="form-large">
    <fieldset>
        <legend>Adresse</legend>

        <div class="input-grid input-grid-small">

            <div class="form-group">
                <label class="form-label " for="input-text-postnummer">Postnummer</label>

                <input class="form-input  false" id="input-text-postnummer" name="input-text-postnummer"
                    type="text">
            </div>

        </div>

        <div class="input-grid input-grid-medium">

            <div class="form-group">
                <label class="form-label " for="input-text-by">By</label>

                <input class="form-input  false" id="input-text-by" name="input-text-by" type="text">
            </div>

        </div>

        <div class="form-group">
            <label class="form-label " for="input-text-gade">Gade</label>

            <input class="form-input  false" id="input-text-gade" name="input-text-gade"
                type="text">
        </div>

        <div class="input-grid input-grid-small">

            <div class="form-group">
                <label class="form-label " for="input-text-husnummer">Husnummer</label>

                <input class="form-input  false" id="input-text-husnummer" name="input-text-husnummer"
                    type="text">
            </div>

        </div>
        <div class="input-grid input-grid-small">

            <div class="form-group">
                <label class="form-label " for="input-text-dør">Dør</label>

                <input class="form-input  false" id="input-text-dør" name="input-text-dør" type="text">
            </div>

        </div>
        <div class="input-grid input-grid-large">

            <div class="form-group">
                <label class="form-label input-optional" for="input-text-coadresse">C/O-adresse</label>

                <input class="form-input  false" id="input-text-coadresse" name="input-text-coadresse"
                    type="text">
            </div>

        </div>

    </fieldset>
</form>