<form class="form-large">
    <fieldset>
        <legend>Adresse</legend>

        <div class="input-grid input-grid-small">

            <div class="form-group">
                <label class="form-label input-text-postnummer" for="input-text-postnummer">Postnummer</label>

                <input class="form-input  " id="input-text-postnummer" name="" type="text">
            </div>

        </div>

        <div class="input-grid input-grid-medium">

            <div class="form-group">
                <label class="form-label input-text-by" for="input-text-by">By</label>

                <input class="form-input  " id="input-text-by" name="" type="text">
            </div>

        </div>

        <div class="form-group">
            <label class="form-label input-text-gade" for="input-text-gade">Gade</label>

            <input class="form-input  " id="input-text-gade" name="" type="text">
        </div>

        <div class="input-grid input-grid-small">

            <div class="form-group">
                <label class="form-label input-text-husnummer" for="input-text-husnummer">Husnummer</label>

                <input class="form-input  " id="input-text-husnummer" name="" type="text">
            </div>

        </div>
        <div class="input-grid input-grid-small">

            <div class="form-group">
                <label class="form-label input-text-dør" for="input-text-dør">Dør</label>

                <input class="form-input  " id="input-text-dør" name="" type="text">
            </div>

        </div>
        <div class="input-grid input-grid-large">

            <div class="form-group input-success">
                <label class="form-label input-text-coadresse" for="input-text-coadresse">C/O-adresse</label>

                <input class="form-input  " id="input-text-coadresse" name="" type="text">
            </div>

        </div>

    </fieldset>
</form>