<div class="alert alert-info">
    <div class="alert-body">
        <h3 class="alert-heading">Information Status</h3>
        <p class="alert-text">Lorem ipsum dolor sit amet,
            <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
</div>

<div class="alert alert-success">
    <div class="alert-body">
        <h3 class="alert-heading">Success Status</h3>
        <p class="alert-text">Lorem ipsum dolor sit amet,
            <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
</div>

<div class="alert alert-warning">
    <div class="alert-body">
        <h3 class="alert-heading">Warning Status</h3>
        <p class="alert-text">Lorem ipsum dolor sit amet,
            <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
</div>

<div class="alert alert-error" role="alert">
    <div class="alert-body">
        <h3 class="alert-heading">Error Status</h3>
        <p class="alert-text">Lorem ipsum dolor sit amet,
            <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
</div>

<div class="alert alert-info alert-paragraph">
    <div class="alert-body">
        <h3 class="alert-heading">Information Status - Paragraph Width</h3>
        <p class="alert-text">Multi line. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem Nemo enim ipsam voluptatem
            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
            magni dolores eos qui atione voluptatem sequi nesciunt. Neque porro
            quisquam est, qui doloremipsa quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
</div>

<div class="alert alert-info alert-slim">
    <div class="alert-body">
        <p class="alert-text">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
    </div>
</div>