<h4>

    Primary buttons</h4>
<button class="button button-primary">Default</button>
<button class="button button-primary button-hover">Hover</button>
<button class="button button-primary button-active">Active</button>
<button class="button button-primary focus">Focus</button>
<button class="button button-primary" disabled tab-index="-1" aria-disabled="true">Disabled</button>

<h4>Secondary buttons</h4>
<button class="button button-secondary">Default</button>
<button class="button button-secondary button-hover">Hover</button>
<button class="button button-secondary button-active">Active</button>
<button class="button button-secondary focus">Focus</button>
<button class="button button-secondary" disabled tab-index="-1" aria-disabled="true">Disabled</button>

<h4>Ghost buttons</h4>
<button class="button button-ghost">Default</button>
<button class="button button-ghost button-hover">Hover</button>
<button class="button button-ghost button-active">Active</button>
<button class="button button-ghost focus">Focus</button>
<button class="button button-ghost" disabled tab-index="-1" aria-disabled="true">Disabled</button>

<h4>Tertiary buttons</h4>
<button class="button button-tertiary">Default</button>
<button class="button button-tertiary button-hover">Hover</button>
<button class="button button-tertiary button-active">Active</button>
<button class="button button-tertiary focus">Focus</button>
<button class="button button-tertiary" disabled tab-index="-1" aria-disabled="true">Disabled</button>

<h4>Button with icon</h4>
<button class="button button-primary">Refresh
    <svg class="icon-svg "><use xlink:href="#refresh"></use></svg>
</button>
<h4>Funktionslinks</h4>
<a href="" class="textlink-icon print_link">Print entire guide</a>