<div class="container">
    <p class="h6">Primær knapper</p>
    <button class="button button-primary">Default</button>
    <button class="button button-primary button-hover">Hover</button>
    <button class="button button-primary button-active">Active</button>
    <button class="button button-primary focus">Focus</button>
    <button class="button button-primary" disabled tab-index="-1" aria-disabled="true">Disabled</button>

    <p class="h6">Sekundær knapper</p>
    <button class="button button-secondary">Default</button>
    <button class="button button-secondary button-hover">Hover</button>
    <button class="button button-secondary button-active">Active</button>
    <button class="button button-secondary focus">Focus</button>
    <button class="button button-secondary" disabled tab-index="-1" aria-disabled="true">Disabled</button>

    <p class="h6">Ghost knapper</p>
    <button class="button button-ghost">Default</button>
    <button class="button button-ghost button-hover">Hover</button>
    <button class="button button-ghost button-active">Active</button>
    <button class="button button-ghost focus">Focus</button>
    <button class="button button-ghost" disabled tab-index="-1" aria-disabled="true">Disabled</button>

    <p class="h6">Tertiær knapper</p>
    <button class="button button-tertiary">Default</button>
    <button class="button button-tertiary button-hover">Hover</button>
    <button class="button button-tertiary button-active">Active</button>
    <button class="button button-tertiary focus">Focus</button>
    <button class="button button-tertiary" disabled tab-index="-1" aria-disabled="true">Disabled</button>

    <p class="h6">Knap med ikon</p>
    <button class="button button-primary">
        <svg class="icon-svg "><use xlink:href="#refresh"></use></svg> Refresh
    </button>
    <p class="h6">Funktionslink</p>
    <p>
        <a href="#" class="function-link">
            <svg class="icon-svg "><use xlink:href="#printer"></use></svg> Print
            hele guiden</a>
    </p>
</div>