<div class="container">
    <fieldset class="fieldset-inputs sans">
        <ul class="unstyled-list bottom-spacing">

            <li>

                <div class="form-group">
                    <input id="Unchecked" type="checkbox" name="unchecked" value="unchecked" class="  ">
                    <label for="Unchecked" class="">Unchecked</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="Checked" type="checkbox" name="checked" value="checked" class="  "
                        checked>
                    <label for="Checked" class="">Checked</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="disabled" type="checkbox" name="disabled" value="disabled" class="  "
                        disabled>
                    <label for="disabled" class="">Disabled</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="disabled-checked" type="checkbox" name="disabled-checked" value="disabled-checked"
                        class="  " disabled checked>
                    <label for="disabled-checked" class="">Disabled checked</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="fokus" type="checkbox" name="Focus" value="fokus" class="focus  ">
                    <label for="fokus" class="">Focus</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="Unchecked-large" type="checkbox" name="unchecked-large" value="unchecked-large"
                        class=" checkbox-large ">
                    <label for="Unchecked-large" class="">Unchecked-large</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="Checked-large" type="checkbox" name="checked-large" value="checked-large"
                        class=" checkbox-large " checked>
                    <label for="Checked-large" class="">Checked-large</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="disabled-large" type="checkbox" name="disabled-large" value="disabled-large"
                        class=" checkbox-large " disabled>
                    <label for="disabled-large" class="">Disabled-large</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="disabled-checked-large" type="checkbox" name="disabled-checked-large"
                        value="disabled-checked-large" class=" checkbox-large "
                        disabled checked>
                    <label for="disabled-checked-large" class="">Disabled-checked-large</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="fokus-large" type="checkbox" name="Focus-large" value="fokus-large"
                        class="focus checkbox-large ">
                    <label for="fokus-large" class="">Focus-large</label>
                </div>

            </li>

        </ul>
    </fieldset>
</div>