<div class="container">
    <fieldset class="fieldset-inputs sans">
        <ul class="unstyled-list bottom-spacing">

            <li>

                <div class="form-group">
                    <input id="Unchecked" type="checkbox" name="unchecked" value="unchecked" class="">
                    <label for="Unchecked" class="">unchecked</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="Checked" type="checkbox" name="checked" value="checked" class=""
                        checked>
                    <label for="Checked" class="">checked</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="disabled" type="checkbox" name="disabled" value="disabled" class=""
                        disabled>
                    <label for="disabled" class="">Disabled</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="fokus" type="checkbox" name="Focus" value="fokus" class="focus">
                    <label for="fokus" class="">Focus</label>
                </div>

            </li>

        </ul>
    </fieldset>
</div>