<div class="container">
    <fieldset class="fieldset-inputs sans">
        <ul class="unstyled-list">

            <li>
                <input id="Unchecked" type="checkbox" name="unchecked" value="unchecked">
                <label for="Unchecked" class="">unchecked</label>
            </li>

            <li>
                <input id="Checked" type="checkbox" name="checked" value="checked" checked>
                <label for="Checked" class="">checked</label>
            </li>

            <li>
                <input id="disabled" type="checkbox" name="disabled" value="disabled" disabled>
                <label for="disabled" class="">Disabled</label>
            </li>

            <li>
                <input id="fokus" type="checkbox" name="Focus" value="fokus">
                <label for="fokus" class="focus">Focus</label>
            </li>

        </ul>
    </fieldset>
</div>