<div class="container">
    <div class="icon-list row">

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#alert-outline"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>alert-outline</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#angle-arrow-down"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>angle-arrow-down</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#angle-arrow-up"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>angle-arrow-up</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#calendar"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>calendar</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#check"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>check</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#check-circle-outline"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>check-circle-outline</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#content-save"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>content-save</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#delete"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>delete</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#help-circle-outline"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>help-circle-outline</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#info"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>info</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#magnify"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>magnify</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#pencil"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>pencil</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <svg class="icon-svg "><use xlink:href="#refresh"></use></svg>
                </div>
                <span>
                    <span class="sr-only">Example of </span>refresh</span>
            </div>
        </div>

    </div>
</div>

<style scoped>
    .icon-box {
        width: 100%;
        height: 200px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .icon-box .icon-svg {
        margin-bottom: 5px;
    }
</style>