<div class="container">
    <div class="icon-list row">

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-add color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>add</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-alert-outline color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>alert-outline</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-angle-arrow-down color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>angle-arrow-down</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-angle-arrow-up color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>angle-arrow-up</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-arrow-left color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>arrow-left</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-arrow-right color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>arrow-right</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-book-open color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>book-open</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-calendar color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>calendar</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-cash-multiple color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>cash-multiple</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-check color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>check</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-check-circle-outline color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>check-circle-outline</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-chevron-left color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>chevron-left</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-chevron-right color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>chevron-right</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-close color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>close</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-close-circle color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>close-circle</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-close-circle-outline color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>close-circle-outline</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-content-save color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>content-save</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-delete color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>delete</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-delete-outline color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>delete-outline</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-dots-vertical color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>dots-vertical</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-download color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>download</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-error color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>error</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-file color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>file</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-file-document-box color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>file-document-box</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-folder-multiple color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>folder-multiple</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-help color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>help</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-help-circle-outline color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>help-circle-outline</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-info color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>info</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-language color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>language</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-magnify color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>magnify</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-menu-down color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>menu-down</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-menu-left color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>menu-left</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-menu-right color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>menu-right</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-menu-up color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>menu-up</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-message color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>message</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-minus color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>minus</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-open-in-new color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>open-in-new</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-pencil color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>pencil</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-plus color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>plus</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-printer color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>printer</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-refresh color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>refresh</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-save color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>save</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-settings color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>settings</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-sort-acending color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>sort-acending</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-sort-descending color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>sort-descending</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-sort-none color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>sort-none</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-success color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>success</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="icon-box">
                <div>
                    <i class="icon icon-warning color-text-blue"></i>
                </div>
                <span>
                    <span class="sr-only">Example of </span>warning</span>
            </div>
        </div>

    </div>
</div>

<style scoped>
    .icon-box {
        width: 100%;
        height: 200px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .icon-box i {
        font-size: 3rem;
        margin-bottom: 5px;
    }
</style>