<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h4>Unordered paragraph list</h4>

        <ul class="paragraph-list">

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

                <ul class="sub_list">

                    <li>
                        Ordered sublist

                    </li>

                    <li>
                        Ordered sublist

                    </li>

                    <li>
                        Ordered sublist

                    </li>

                </ul>

            </li>

        </ul>

    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h4>Ordered paragraph list</h4>

        <ol class="paragraph-list">

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

                <ol class="sub_list">

                    <li>
                        Ordered sublist

                    </li>

                    <li>
                        Ordered sublist

                    </li>

                    <li>
                        Ordered sublist

                    </li>

                </ol>

            </li>

        </ol>

    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h4>Unordered body list</h4>

        <ul class="body-list">

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

                <ul class="sub_list">

                    <li>
                        Ordered sublist

                    </li>

                    <li>
                        Ordered sublist

                    </li>

                    <li>
                        Ordered sublist

                    </li>

                </ul>

            </li>

        </ul>

    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h4>Ordered body list</h4>

        <ol class="body-list">

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

            </li>

            <li>
                Ordered list

                <ol class="sub_list">

                    <li>
                        Ordered sublist

                    </li>

                    <li>
                        Ordered sublist

                    </li>

                    <li>
                        Ordered sublist

                    </li>

                </ol>

            </li>

        </ol>

    </div>
</div>

<style scoped>
    h4 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
</style>