<div class="container">
    <fieldset class="fieldset-inputs sans">
        <ul class="unstyled-list bottom-spacing">

            <li>

                <div class="form-group">
                    <input id="truth" type="radio" name="historical-figures-1" value="truth" class="">
                    <label for="truth" class="">Sojourner Truth</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="douglass" type="radio" name="historical-figures-1" value="douglass"
                        class="" checked>
                    <label for="douglass" class="">Frederick Douglass</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="washington" type="radio" name="historical-figures-1" value="washington"
                        class="" disabled>
                    <label for="washington" class="">Booker T. Washington</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="carver" type="radio" name="historical-figures-1" value="carver" class="focus">
                    <label for="carver" class="">George Washington Carver</label>
                </div>

            </li>

        </ul>
    </fieldset>
</div>