<div class="container">
    <fieldset class="fieldset-inputs sans">
        <ul class="unstyled-list">

            <li>

                <div class="form-group">
                    <input id="truth" type="radio" name="historical-figures-1" value="truth" checked>
                    <label for="truth">Sojourner Truth</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="douglass" type="radio" name="historical-figures-1" value="douglass">
                    <label for="douglass">Frederick Douglass</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="washington" type="radio" name="historical-figures-1" value="washington">
                    <label for="washington">Booker T. Washington</label>
                </div>

            </li>

            <li>

                <div class="form-group">
                    <input id="washington" type="radio" name="historical-figures-1" value="carver">
                    <label for="washington">George Washington Carver</label>
                </div>

            </li>

        </ul>
    </fieldset>
</div>