<div class="container mt-6 mb-6">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 sidebar-col">
            <h5>Normal sidenavigation</h5>

            <h6 class="h6 mt-6">1 level</h6>

            <div class="container">
                <div class="row">
                    <div class="col-12 sidebar-col">
                        <nav>
                            <ul class="sidenav-list">

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Parent link

                                        </div>
                                    </a>

                                </li>

                                <li>
                                    <a href="" class="active">

                                        <div class="d-inline-block">
                                            Current page

                                        </div>
                                    </a>

                                </li>

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Another link

                                        </div>
                                    </a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <h6 class="h6 mt-6">2 levels</h6>

            <div class="container">
                <div class="row">
                    <div class="col-12 sidebar-col">
                        <nav>
                            <ul class="sidenav-list">

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Parent link

                                        </div>
                                    </a>

                                </li>

                                <li>
                                    <a href="" class="current">

                                        <div class="d-inline-block">
                                            Current page

                                        </div>
                                    </a>

                                    <ul class="sidenav-sub_list">

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="" class="active">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Another link

                                        </div>
                                    </a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <h6 class="h6 mt-6">3 levels</h6>

            <div class="container">
                <div class="row">
                    <div class="col-12 sidebar-col">
                        <nav>
                            <ul class="sidenav-list">

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Parent link

                                        </div>
                                    </a>

                                </li>

                                <li>
                                    <a href="" class="current">

                                        <div class="d-inline-block">
                                            Current page

                                        </div>
                                    </a>

                                    <ul class="sidenav-sub_list">

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="" class="current">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                            <ul class="sidenav-sub_list">

                                                <li>
                                                    <a href="">

                                                        <div class="d-inline-block">
                                                            Grandchild link

                                                        </div>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="">

                                                        <div class="d-inline-block">
                                                            Grandchild link

                                                        </div>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="" class="active">

                                                        <div class="d-inline-block">
                                                            Grandchild link

                                                        </div>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="">

                                                        <div class="d-inline-block">
                                                            Grandchild link

                                                        </div>
                                                    </a>

                                                </li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Another link

                                        </div>
                                    </a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 sidebar-col">
            <h5 class="mt-6 mt-md-0">Sidenavigation med information</h5>

            <h6 class="h6 mt-6">1 level</h6>

            <div class="container">
                <div class="row">
                    <div class="col-12 sidebar-col">
                        <nav>
                            <ul class="sidenav-list">

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Parent link

                                            <p class="sidenav-information">Informationstekst for parent link</p>

                                        </div>
                                    </a>

                                </li>

                                <li>
                                    <a href="" class="active">

                                        <div class="d-inline-block">
                                            Current page

                                            <p class="sidenav-information">Informationstekst for current link</p>

                                        </div>
                                    </a>

                                </li>

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Another link

                                            <p class="sidenav-information">Informationstekst for another link</p>

                                        </div>
                                    </a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <h6 class="h6 mt-6">2 levels</h6>

            <div class="container">
                <div class="row">
                    <div class="col-12 sidebar-col">
                        <nav>
                            <ul class="sidenav-list">

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Parent link

                                            <p class="sidenav-information">Informationstekst for parent link</p>

                                        </div>
                                    </a>

                                </li>

                                <li>
                                    <a href="" class="current">

                                        <div class="d-inline-block">
                                            Current page

                                            <p class="sidenav-information">Informationstekst for current link</p>

                                        </div>
                                    </a>

                                    <ul class="sidenav-sub_list">

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="" class="active">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Another link

                                            <p class="sidenav-information">Informationstekst for another link</p>

                                        </div>
                                    </a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <h6 class="h6 mt-6">3 levels</h6>

            <div class="container">
                <div class="row">
                    <div class="col-12 sidebar-col">
                        <nav>
                            <ul class="sidenav-list">

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Parent link

                                            <p class="sidenav-information">Informationstekst for parent link</p>

                                        </div>
                                    </a>

                                </li>

                                <li>
                                    <a href="" class="current">

                                        <div class="d-inline-block">
                                            Current page

                                            <p class="sidenav-information">Informationstekst for current link</p>

                                        </div>
                                    </a>

                                    <ul class="sidenav-sub_list">

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="" class="current">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                            <ul class="sidenav-sub_list">

                                                <li>
                                                    <a href="">

                                                        <div class="d-inline-block">
                                                            Grandchild link

                                                        </div>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="">

                                                        <div class="d-inline-block">
                                                            Grandchild link

                                                        </div>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="" class="active">

                                                        <div class="d-inline-block">
                                                            Grandchild link

                                                        </div>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="">

                                                        <div class="d-inline-block">
                                                            Grandchild link

                                                        </div>
                                                    </a>

                                                </li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="">

                                                <div class="d-inline-block">
                                                    Child link

                                                </div>
                                            </a>

                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="">

                                        <div class="d-inline-block">
                                            Another link

                                            <p class="sidenav-information">Informationstekst for another link</p>

                                        </div>
                                    </a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>