<div class="container">
    <p class="h4">Tab navigation</p>

    <ul class="tabnav">

        <li>
            <a href="">
                Tabnav 1
            </a>
        </li>

        <li>
            <a href="" class="active">
                Tabnav 2
            </a>
        </li>

        <li>
            <a href="">
                Tabnav 3
            </a>
        </li>

        <li>
            <a href="">
                Tabnav 4
            </a>
        </li>

        <li>
            <a href="">
                Tabnav 5
            </a>
        </li>

    </ul>

</div>