<div class="container">
    <p class="h6">Tags</p>
    <button class="tag">Default</button>
    <button class="tag tag-hover">Hover</button>
    <button class="tag tag-active">Active</button>
    <button class="tag focus">Focus</button>

    <p class="h6">Tags med ikon</p>
    <button class="tag tag-icon tag-">Default
        <svg class="icon-svg "><use xlink:href="#close-circle"></use></svg>
    </button>
    <button class="tag tag-icon tag- tag-hover">Hover
        <svg class="icon-svg "><use xlink:href="#close-circle"></use></svg>
    </button>
    <button class="tag tag-icon tag- tag-active">Active
        <svg class="icon-svg "><use xlink:href="#close-circle"></use></svg>
    </button>
    <button class="tag tag-icon tag- focus">Focus
        <svg class="icon-svg "><use xlink:href="#close-circle"></use></svg>
    </button>
</div>