---
permalink: /page-templates/
layout: styleguide-wide
title: Eksempler
category: Page templates
lead: These templates for a two small selfservice solutions are built from some of the components of the Styleguide. Each of these pages is flexible; you can add or remove components or sub-components to suit your needs. These templates are great starting point for prototyping or for trying the Styleguide to see if they’re a good fit for you.
subnav:
- text: Sideopbygning
  href: '/page-templates/sideopbygning/'
- text: Eksemplariske Eksempler
  href: '/page-templates/eksemplariske-eksempler/'
---


<main class="container page-container">
  <div class="page-content content">
    <div class="row">
      <div class="col-12 col-md-3 sidebar-col">
        <button class="button button-primary mb-4 d-md-none js-collapse" data-js-target="#docs-sidenav" aria-controls="docs-sidenav" aria-expanded="false">Vis sidemenu</button>
        <nav class="sidenav d-md-block collapsed mb-4 mb-md-0" id="docs-sidenav" aria-hidden="true">
          {% assign sidenavFromNavData = site.data.nav[page.category] %}
          {% if sidenavFromNavData %}
          <ul class="sidenav-list">
            {% include nav/list.html 
              links=sidenavFromNavData               
              is_sidenav=true
            %}
          </ul>
          {% endif %}
        </nav>
      </div>

      <div class="col-12 col-md-9">
        <section id="section-{{page.id}}">
          <header>
            <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
          </header>
          {% if page.lead != null %}
            <p class="font-lead">{{ page.lead }}</p>
          {% endif %}
        </section>
      </div>
    </div>
  </div>
</main>
