---
permalink: /designandcode/footers/
layout: styleguide
title: Footers
category: UI components
subcategory: Design og kode
lead: En footer har til formål at betjene brugere, som når til siden bund uden at finde det de søgte
subnav:
- text: Footer basic
  href: '#footer-basic'
- text: Footer med to linjer
  href: '#footer-two-line'
- text: Footer med header
  href: '#footer-header'
- text: Footer med header og udvidet support
  href: '#footer-header-ext-support'
- text: Footer med header, links og udvidet support
  href: '#footer-header-links-ext-support'
- text: Footer med header, links og simpel support
  href: '#footer-header-links-sim-support'
- text: Footer med logo
  href: '#footer-logo'
---

<h2 id="footer-basic">Footer basic</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-basic/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-basic.PNG" alt="Footer basic">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-basic/">Demo footer basic</a>
</div>
{% include code/accordion.html component="footer-basic" %}

<h2 id="footer-two-line">Footer med to linjer</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-two-line/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-two-line.PNG" alt="Footer two-line">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-two-line/">Demo footer med to linjer</a>
</div>
{% include code/accordion.html component="footer-two-line" %}

<h2 id="footer-header">Footer med header</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-header/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-header.PNG" alt="Footer med header">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-header/">Demo footer med header</a>
</div>
{% include code/accordion.html component="footer-header" %}

<h2 id="footer-header-ext-support">Footer med header og udvidet support</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-header-ext-support/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-header-ext-support.PNG" alt="Footer med header og udvidet support">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-header-ext-support/">Demo footer med header og udvidet support</a>
</div>
{% include code/accordion.html component="footer-header-ext-support" %}

<h2 id="footer-header-links-ext-support">Footer med header, links og udvidet support</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-header-links-ext-support/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-header-links-ext-support.PNG" alt="Footer med header, links og udvidet support">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-header-links-ext-support/">Demo footer med header, links og udvidet support</a>
</div>
{% include code/accordion.html component="footer-header-links-sim-support" %}

  <h2 id="footer-header-links-sim-support">Footer med header, links og simpel support</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-header-links-sim-support/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-header-links-sim-support.PNG" alt="Footer med header, links og simpel support">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-header-links-sim-support/">Demo footer med header, links og simpel support</a>
</div>
{% include code/accordion.html component="footer-header-links-sim-support" %}

<h2 id="footer-logo">Footer med logo</h2>
<div class="preview">
  <a class="media_link" href="{{ site.baseurl }}/components/footers/footer-logo/">
    <img src="{{ site.baseurl }}/assets/img/footers/footer-logo.PNG" alt="Footer med logo">
  </a>
  <a class="button button-secondary mt-5" href="{{ site.baseurl }}/components/footers/footer-logo/">Demo footer med logo</a>
</div>
{% include code/accordion.html component="footer-logo" %}

