---
layout: default
---

<main class="container section" id="main-content">
  <div class="row">
    <div class="col-12 styleguide-content content">
      <section id="section-{{page.id}}">
        <header>
          <p class="site-subheading">
            {{ page.subcategory }}
          </p>
          <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
        </header>
        {% if page.lead != null %}
          <p class="font-lead">{{ page.lead }}</p>
        {% endif %}
      {{ content }}
      </section>
    </div>

  </div>
</main>
