---
layout: default
---

<main class="container section" id="main-content">
  <div class="row">

    <div class="col-3">
      <aside class="sidenav sticky">
        {% assign sidenav = site.data.nav[page.category] %}
        {% if sidenav %}
        <ul class="sidenav-list">
          {% include nav/list.html links=sidenav %}
        </ul>
        {% endif %}
      </aside>
    </div>

    <div class="col-12 col-sm-9 styleguide-content content">
      <section id="section-{{page.id}}">
        <header>
          <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
        </header>
        {% if page.lead != null %}
          <p class="font-lead">{{ page.lead }}</p>
        {% endif %}
      {{ content }}
      </section>
    </div>

  </div>
</main>
