---
layout: default
---

<main class="container page-container" id="main-content">
  <div class="row">

    <div class="col-3">
      <aside class="sidenav">
        {% assign sidenavFromNavData = site.data.nav[page.category] %}
        {% if sidenavFromNavData %}
        <ul class="sidenav-list">
          {% include nav/list.html 
            links=sidenavFromNavData               
            is_sidenav=true
          %}
        </ul>
        {% endif %}
      </aside>
    </div>

    <div class="col-12 col-sm-9 styleguide-content content">
      <section id="section-{{page.id}}">
        <header>
          <p class="site-subheading">
            {{ page.subcategory }}
          </p>
          <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
        </header>
        {% if page.lead != null %}
          <p class="font-lead">{{ page.lead }}</p>
        {% endif %}
      {{ content }}
      </section>
    </div>

  </div>
</main>
